
/* Conditional
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.exo-conditional {
    display: block;
}

.exo-conditional > input[type="checkbox"] {
    opacity: 0;
    width: 1px;
    height: 32px;
    appearance: none;
    display: block;
    position: absolute;
}

.exo-conditional > input[type="checkbox"]:checked ~ .exo-conditional-false {
    display: none;
}

.exo-conditional > input[type="checkbox"]:not(:checked) ~ .exo-conditional-true {
    display: none;
}