/* Modal Windows
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.exo-modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.5);
}

div.exo-modal-window-content {
    background-color: var(--exo-white);
}

div.exo-modal-window-content.exo-dark-red-bg {
    background-color: var(--exo-dark-red);
}

div.exo-modal-window-content.exo-dark-orange-bg {
    background-color: var(--exo-dark-orange);
}

div.exo-modal-window-content.exo-dark-blue-bg {
    background-color: var(--exo-dark-blue);
}

div.exo-modal-window-content.exo-dark-green-bg {
    background-color: var(--exo-dark-green);
}

div.exo-modal-window-content.exo-dark-purple-bg {
    background-color: var(--exo-dark-purple);
}

div.exo-modal-window-content.exo-dark-brown-bg {
    background-color: var(--exo-dark-brown);
}

div.exo-modal-window-content.exo-dark-gray-bg {
    background-color: var(--exo-dark-gray);
}

div.exo-modal-window-content.exo-dark-pink-bg {
    background-color: var(--exo-dark-pink);
}

div.exo-modal-window-content.exo-dark-yellow-bg {
    background-color: var(--exo-dark-yellow);
}

div.exo-modal-window-content.exo-black-bg {
    background-color: var(--exo-black);
}

div.exo-modal-window-content.exo-light-red-bg {
    background-color: var(--exo-light-red);
}

div.exo-modal-window-content.exo-light-orange-bg {
    background-color: var(--exo-light-orange);
}

div.exo-modal-window-content.exo-light-blue-bg {
    background-color: var(--exo-light-blue);
}

div.exo-modal-window-content.exo-light-green-bg {
    background-color: var(--exo-light-green);
}

div.exo-modal-window-content.exo-light-purple-bg {
    background-color: var(--exo-light-purple);
}

div.exo-modal-window-content.exo-light-brown-bg {
    background-color: var(--exo-light-brown);
}

div.exo-modal-window-content.exo-light-gray-bg {
    background-color: var(--exo-light-gray);
}

div.exo-modal-window-content.exo-light-pink-bg {
    background-color: var(--exo-light-pink);
}

div.exo-modal-window-content.exo-light-yellow-bg {
    background-color: var(--exo-light-yellow);
}


div.exo-modal-window-content > label:hover {
    outline: 0px solid var(--exo-hover);
}

.exo-modal > input[type="checkbox"]:focus ~ label > div.exo-button {
    outline: 3px dotted var(--exo-focus);
}

.exo-modal > input[type="checkbox"]:focus ~ div.exo-modal-window > div.exo-modal-window-content > label > span.exo-modal-close {
    outline: 3px dotted var(--exo-focus);
}

.exo-modal > input[type="checkbox"] ~ div.exo-modal-window > div.exo-modal-window-content > label > span.exo-modal-close:hover {
    outline: 3px solid var(--exo-hover);
}

.exo-modal > input[type="checkbox"] {
    opacity: 0;
    width: 1px;
    height: 32px;
    appearance: none;
    display: block;
    position: absolute;
}

.exo-modal > input[type=checkbox]:checked ~ .exo-modal-window {
   visibility: visible;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.5s;
}

.exo-modal > input[type=checkbox]:not(:checked) ~ .exo-modal-window {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   transition: all 0.5s;
}

.exo-modal-window-content {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    padding-top: 20px;
}

.exo-modal-window-content > label > span.exo-modal-close {
    position:absolute;
    right: 2px;
    top: 2px;
    height: 24px;
    width: 24px;
    padding: 2px 2px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz48L3N2Zz4=');
}