<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../versions/latest/exo.js" ></script>
    <link rel="stylesheet" href="../../versions/latest/exo.css">
    <link rel="stylesheet" href="../../versions/latest/exo-icons.css">
</head>
<body class="exo-container">
    <div is="exo-modal" button-text="Open Modal" fg-color="light-red" bg-color="dark-red" close-button-color="white" button-fg-color="light-green" button-bg-color="dark-purple">
            Lorem ipsum dolor
            sit amet,
            consectetur
            adipiscing elit.
            Aenean euismod, leo
            sed imperdiet
            ullamcorper, augue
            lectus gravida
            felis, quis
            facilisis mi tortor
            eu justo.
    </div>
</body>
</html>