<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../versions/latest/exo.js" ></script>
    <link rel="stylesheet" href="../../versions/latest/exo.css">
    <link rel="stylesheet" href="../../versions/latest/exo-icons.css">
    <style>
        section {
            margin-top: 0px;
        }
    </style>
</head>
<body class="exo-container">
    <div class="exo-tree" role="tree">
        <div is="exo-tree" label="AAA">
          <div is="exo-tree" label="a1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <div is="exo-tree" label="a2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <div is="exo-tree" label="a3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
    </div>
</body>
</html>